# This will probably be something like Users/<user>/Library/Messages/chat.db
CHAT_DB="/path/to/chat.db"

# This can be found in the chat.db file and should look something like "chat123456789123456789"
CHAT_ID=

# This can be whatever value you use as a key in contacts.json
MY_NUMBER=

READ_RATE=5

API_KEY=

# Whether or not gpt remembers chat history after a restart
CLEAR_ON_RESTART=True