# This will probably be something like Users/<user>/Library/Messages/chat.db
CHAT_DB="/path/to/chat.db"

# This can be whatever value you use as a key in contacts.json for the name of the person sending the message
MY_NUMBER=

# How often the program reads from your chat.db file in seconds
READ_RATE=5

# OpenAI API key
API_KEY=

# Whether or not chat history is maintained across sessions
CLEAR_ON_RESTART=True
